* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

:root {
  --blue1: #caf0f8;
  --blue2: #90e0ef;
  --blue3: #00b4d8;
  --blue4: #0077b6;
  --blue5: #03045e;
  --blue6: #6d33ff;
}

body {
  background-color: #f8f8f8;
}

.portfolio-texts {
  padding-left: 20px;
  padding-right: 25px;
}

.first-main {
  width: 100%;
}

.title-div {
  display: flex;
  flex-direction: column;
}

name {
  font-size: 20px;
}

span.full-stack-text {
  font-size: 0.75rem;
  line-height: 0.8;
}

.social-links {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  left: 0px;
}

.social-links img,
button {
  transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.second-portfolio {
  padding: 5vw;
}

.portfolio-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.portfolio-image img {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .portfolio-card {
    flex-direction: column;
  }
  .portfolio-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .desktop {
    display: none;
  }
}

.btn66 {
  background-color: #6d84f5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.btn66:hover {
  background-color: var(--blue6);
  color: rgb(255, 255, 255);
  cursor: default;
}

#second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
  padding-bottom: 50px;
  max-width: 1500px;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 85vw;
  max-width: 350px;
  height: 440px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.project-card:hover {
  background-color: rgb(229, 236, 250);
}

.project-card-1 {
  height: 335px;
}

.project-card-1 img {
  border-radius: 10px;
  height: 170px;
}

.project-title {
  margin-top: 20px;
  font-size: 1.2rem;
}

.project-desc {
  font-size: 0.8rem;
  color: rgb(114, 119, 123);
}

.project-card button {
  background-color: #6d84f5;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.project-card button:hover {
  background-color: var(--blue6);
  color: rgb(255, 255, 255);
  cursor: default;
}

#footer {
  width: 100%;
  height: 40px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}
